html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Times New Roman", sans-serif;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* TOP NAV */
.top-nav-container {
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: 1;
    min-height: 75px;

    .top-nav-item {
        color: white;
        cursor: pointer;
        width: fit-content;
    }

    #burger-menu {
        font-size: 45px;
        margin-left: 20px;
    }

    #tickets-button {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 25px;

        button {
            font-family: "Times New Roman", sans-serif;
            background-color: rgba(255, 255, 255, 0.35);
            color: #000000;
            font-size: 25px;
            border-radius: 25px;
            border: none;
            padding: 10px 25px;
            box-shadow: none;
        }

        button:active {
            color: #ffffff;
        }
    }

    #logo {
        height: 50px;
        width: 50px;
        margin-right: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
    }
}

/* HEADER */
.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#header-background {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transition: background-image 1s;
    box-shadow: 0 5px 15px 0 rgba(106, 106, 106, 0.75);
}

/* SIDENAV MENU */
.side-nav-container {
    height: 100%;
    width: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    transition: 0.5s;
    padding: 75px 0;

    a {
        padding: 8px 10px 8px 25px;
        font-size: 23px;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-decoration: none;
    }

    a:hover {
        color: #f1f1f1;
    }

    .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 36px;
        margin-left: 50px;
        color: white;
        text-decoration: none;
    }
}

/* FLEX FOR BUTTONS GRID */
.button-banners-flexContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        font-family: "Times New Roman", sans-serif;
        font-size: 28px;
        letter-spacing: 4px;
        border: 1px solid #ccc;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        z-index: 1;
        box-sizing: border-box;
    }

    button:hover {
        background-color: #c6c6c6;
    }
}

/* GRID FOR BUTTONS */
.button-banners-gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
    padding: 0 10%;

    #species-button-form {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        position: relative;

        button {
            padding: 25px 150px;
            margin: 25px 0 15px 0;
            width: auto;
        }

        button #pricing-opening-button {
            width: 100%;
        }
    }

    button {
        padding: 25px 150px;
        width: 100%;
    }
}

/* RESTAURANT BANNER */
.restaurant-container {
    position: relative;
    margin-top: 50px;
    border-top: 5px solid #3c1c03;
    border-bottom: 5px solid #3c1c03;
    width: 100%;

    .middle-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 25px;
        color: white;
        padding: 0 50px;
        z-index: 0;
        text-align: center;

        h1 strong {
            display: block;
            margin-bottom: 30px;
            text-align: center;
            font-size: 75px;
        }

        h1 {
            font-size: 40px;
        }
    }

    .restaurant-background {
        position: relative;
        z-index: -1;
    }

    .restaurant-background img {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 450px;
        object-fit: cover;
        margin-bottom: -5px;
    }
}

.info-container {
    background-color: #232121;
    width: 100%;
    height: 750px;
    margin-top: 50px;
    color: white;
}

/* MEDIA QUERIES FOR SMALLER SCREENS */
@media (max-width: 1000px) {
    .top-nav-container {
        padding: 10px;
    }

    #burger-menu {
        font-size: 35px;
        margin-right: 10px;
    }

    #tickets-button {
        margin: 10px 0;
        flex: 1 0 100%;
        display: flex;
        justify-content: center;

        button {
            font-size: 20px;
            padding: 8px 20px;
            width: 100%;
            max-width: 300px;
        }
    }

    #logo {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        flex: 0 0 auto;
    }

    .button-banners-flexContainer {
        width: 100%;
    }

    .button-banners-gridContainer {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0 5%;

        #species-button-form {
            button {
                padding: 15px 80px;
                margin: 20px 0 10px 0;
                box-sizing: border-box;
            }
        }

        button {
            padding: 15px 80px;
        }
    }
}
