.grid-container {
    display: grid;
    grid: repeat(8, 50px) / repeat(5, 200px);
    grid-gap: 12px;
}
.grid-item {
    background-color: rgba(238, 174, 174, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 5px;
    color: white;
    text-shadow: 1px 1px 2px darkgrey;
}
.grid-item:nth-child(9) {
    grid-column: span 2; /*lmao idk if i was meant to use it, but found a cool property so ig works xD*/
    background-color: rgba(174, 223, 238, 0.8);
}
.grid-item:nth-child(11) {
    grid-row: span 4;
    background-color: rgba(229, 238, 174, 0.8);
}
.grid-item:nth-child(16) {
    grid-column: span 2;
    grid-row: span 2;
    background-color: rgba(174, 238, 204, 0.8);
}
.grid-item:nth-child(29) {
    grid-column: span 4;
    background-color: rgba(205, 174, 238, 0.8);
}