html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}
fieldset {
    border: none;
}
button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}