body {
    overflow: scroll;
}
.squareOne, .squareTwo, .squareThree {
    background-color: #73c273;
}
.squareOne {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 150px;
    height: 150px;
}
.squareTwo {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 200px;
    height: 100px;
}
.squareThree {
    position: fixed;
    top: 40%;
    right: 50%;
    width: 100px;
    height: 200px;
}